{% extends "../layouts/primary.twig" %}

{% block page %}
{% set formName = 'leadform' %}
<form action="/thanks" class="sprk-o-Box--large sprk-o-CenteredColumn sprk-u-TextAlign--center sprk-u-Width-60" data-gver-panels data-netlify method="post" name="{{ formName }}" novalidate>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.LoanPurpose.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.HomeDescription.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.PropertyUse.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.LoanPurposePurchase.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.FirstTimeBuyer.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.Military_Purch.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.HasRealEstateAgent.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.PurchasePrice.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.DownPayment.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.CreditRating.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.LatePayments.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.Foreclosure.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.Bankruptcy.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.FirstName.twig' %}
    {% include './partials/leadform.LastName.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.HomePhone.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.Email.twig' %}
    {{ button.primary('Next', formName, 'button', 'full@xs', 'data-gver-panel-btn="next"') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
  <div class="sprk-u-Display--none" data-gver-panel-item>
    {% include './partials/leadform.MailingAddress.twig' %}
    {% include './partials/leadform.Zipcode.twig' %}
    {{ button.primary('Click to See Your Results!', formName, 'submit', 'full@xs') }}
    {{ button.tertiary('Go Back', formName, 'button', 'full@xs', 'data-gver-panel-btn="prev"') }}
  </div>
</form>
{% endblock page %}
