{% macro button(label, name, type = 'button', widthAtSize, priority = 'primary') %}
  {% set dataId, btnAttrs = '' %}
  {% set btnClass = 'sprk-c-Button' %}

  {% if type == 'submit' and priority == 'primary' %}
    {% set btnAttrs = btnAttrs ~ 'data-sprk-spinner="click" ' %}
  {% endif %}

  {% if type == 'button' %}
    {% set dataId = dataId ~ type ~ '-' ~ name %}
  {% else %}
    {% set dataId = dataId ~ 'button-' ~ type ~ '-' ~ name %}
  {% endif %}

  {% if priority != 'primary' %}
    {% set btnClass = btnClass ~ ' sprk-c-Button--' ~ priority %}
  {% endif %}

  {% if widthAtSize %}
    {% set btnClass = btnClass ~ ' sprk-c-Button--' ~ widthAtSize %}
  {% endif %}

  <button class="{{ btnClass }}" data-id="{{ dataId }}" type="{{ type }}" {{ btnAttrs }}>
    {{ label }}
  </button>
{% endmacro %}
