{% macro primary(label, name, type = 'button', widthAtSize, btnAttrs, href) %}
  {% import _self as button %}
  {{ button.build(label, name, type, widthAtSize, btnAttrs, href, 'primary') }}
{% endmacro %}

{% macro secondary(label, name, type = 'button', widthAtSize, btnAttrs, href) %}
  {% import _self as button %}
  {{ button.build(label, name, type, widthAtSize, btnAttrs, href, 'secondary') }}
{% endmacro %}

{% macro tertiary(label, name, type = 'button', widthAtSize, btnAttrs, href) %}
  {% import _self as button %}
  {{ button.build(label, name, type, widthAtSize, btnAttrs, href, 'tertiary') }}
{% endmacro %}

{% macro build(label, name, type, widthAtSize, btnAttrs, href = '', variant) %}
  {% set dataId = '' %}
  {% set btnClass = 'sprk-c-Button' %}

  {% if type == 'submit' and variant == 'primary' %}
    {% set btnAttrs = btnAttrs ~ ' data-sprk-spinner="click"' %}
  {% endif %}

  {% if type == 'button' %}
    {% set dataId = dataId ~ type ~ '-' ~ name %}
  {% else %}
    {% set dataId = dataId ~ 'button-' ~ type ~ '-' ~ name %}
  {% endif %}

  {% if variant != 'primary' %}
    {% set btnClass = btnClass ~ ' sprk-c-Button--' ~ variant %}
  {% endif %}

  {% if widthAtSize %}
    {% set btnClass = btnClass ~ ' sprk-c-Button--' ~ widthAtSize %}
  {% endif %}

  {% if href == '' %}
    <button class="{{ btnClass }}" data-id="{{ dataId }}" type="{{ type }}" {{ btnAttrs }}>
      {{ label }}
    </button>
  {% else %}
    <a class="{{ btnClass }}" data-id="{{ dataId }}" href="{{ href }}" {{ btnAttrs }}>
      {{ label }}
    </a>
  {% endif %}
{% endmacro %}
