{% macro money(label, name, helperText) %}
  <div class="sprk-b-InputContainer" data-sprk-input="monetary">
    <div class="sprk-b-TextInputIconContainer sprk-b-TextInputIconContainer--has-text-icon">
      <label class="sprk-b-Label sprk-b-Label--monetary sprk-b-TypeDisplayThree" for="monetary-normal-{{ name }}">{{ label }}</label>
      <input aria-describedby="monetary-normal-{{ name }}--error-container" class="sprk-b-TextInput sprk-b-TextInput--has-text-icon sprk-u-Width-100" data-id="monetary-normal-{{ name }}" id="monetary-normal-{{ name }}" pattern="(^\$?(\d+|\d{1,3}(,\d{3})*)(\.\d+)?$)|^$" type="tel">
    </div>
    {% if helperText %}<div class="sprk-b-HelperText">{{ helperText }}</div>{% endif %}
    <div class="sprk-b-ErrorContainer" id="monetary-normal-{{ name }}--error-container"></div>
  </div>
{% endmacro %}

{% macro phone(label, name, helperText) %}
  <div class="sprk-b-InputContainer" data-sprk-input="phone">
    <label class="sprk-b-Label sprk-b-TypeDisplayThree" for="phone-input-normal-{{ name }}">{{ label }}</label>
    <input aria-describedby="phone-input-normal-{{ name }}--error-container" class="sprk-b-TextInput sprk-u-Width-100" data-id="phone-input-normal-{{ name }}" id="phone-input-normal-{{ name }}" pattern="(^(\+\d{1,2}\s)?((\(\d{3}\))|\d{3})[\s.-]?\d{3}[\s.-]?\d{4}$)|^$" placeholder="(000) 000-0000" type="tel">
    {% if helperText %}<div class="sprk-b-HelperText">{{ helperText }}</div>{% endif %}
    <div class="sprk-b-ErrorContainer" id="phone-input-normal-{{ name }}--error-container"></div>
  </div>
{% endmacro %}

{% macro radio(label, name, radioOptions, helperText) %}
  <div class="sprk-b-InputContainer">
    <fieldset class="sprk-b-Fieldset">
      <legend class="sprk-b-Legend sprk-u-TextAlign--center">
        <label class="sprk-b-Label sprk-b-TypeDisplayThree">{{ label }}</label>
      </legend>

      {% for option in radioOptions %}
        <div class="sprk-b-SelectionContainer">
          <input aria-describedby="radio-normal-{{ name }}--error-container" data-id="radio-normal-{{ name }}-{{ loop.index }}" id="radio-normal-{{ name }}-{{ loop.index }}" name="{{ name }}" type="radio">
          <label class="sprk-c-Button sprk-c-Button--secondary sprk-b-Label sprk-b-Label--inline" for="radio-normal-{{ name }}-{{ loop.index }}">{{ option.label }}</label>
        </div>
      {% endfor %}
    </fieldset>
    {% if helperText %}<div class="sprk-b-HelperText">{{ helperText }}</div>{% endif %}
    <div class="sprk-b-ErrorContainer" id="radio-normal-{{ name }}--error-container"></div>
  </div>
{% endmacro %}

{% macro text(label, name, type = 'text', helperText) %}
  <div class="sprk-b-InputContainer">
    <label class="sprk-b-Label sprk-b-TypeDisplayThree" for="text-input-normal-{{ name }}">{{ label }}</label>
    <input aria-describedby="text-input-normal-{{ name }}--error-container" class="sprk-b-TextInput sprk-u-Width-100" data-id="text-input-normal-{{ name }}" id="text-input-normal-{{ name }}" type="{{ type }}">
    {% if helperText %}<div class="sprk-b-HelperText">{{ helperText }}</div>{% endif %}
    <div class="sprk-b-ErrorContainer" id="text-input-normal-{{ name }}--error-container"></div>
  </div>
{% endmacro %}
